body{
	width: 1000px;
	margin: 0 auto;
	}
header{
	font-family: 'Gafata', sans-serif;
	font-size: 30px;
	color: #ccc;
	height: 50px;
	width: 230px;
	top: -8px;
	text-align: center;
	padding-top: 20px;
	border: 1px solid #ccc;
	background: #fff;
	z-index: 3;
	position: fixed;
	}
header .nepal{
	color: #a00;
	display: inline;
	}
nav{
	float: right;
	margin-top: 30px;
	display: inline-block;
	}
nav .navigate{
	color: #ccc;
	font-size: 17px;
	font-family: 'Gafata', sans-serif;
	margin-right: 20px;
	}
.navigate:hover{
	color: #344;
	border-bottom: 5px solid #ccc;
	padding-bottom: 4px;
	height: 50px;
	cursor: hand;
	cursor: pointer;
	}
.line1{
	margin-top: 8px;
	border: 1px solid #ccc;
	width: 100%;
	display: inline-block;
}
.paragraph{
	font-family: 'Gafata', sans-serif;
	font-size: 20px;
	color: #456;
	text-align: center;
	
}	
.firstchart{
		border: 1px solid #ccc;
}

form{
	padding: 10px;
	margin: 0 auto;
	display: block;
}
label{
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	color: #344;
}
.form{
	text-align: center;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 3px;
	}
